/* Global Styles */
body {
  font-family: 'Inconsolata', serif;
  font-size: 14px;
}

p, ul {
  margin: .1em 0;
}

ul {
  list-style: none;
  -webkit-padding-start: 2em;
}

li:before {
  content: "\002D";
  margin: 0 1em 0 0;
}

div {
  display: inline-block;
}

/* Page styles */
.page {
  padding: 1em;
  width: 8.5in;
  height: 11in;
  margin: 0.5in;
}

@media print {
  .page {
    padding: 0;
  }
}

/* Header */
.header {
  height: 8%;
  position: relative;
}

.header .name {
  font-size: 5em;
}

.header .contact {
  position: absolute;
  right: 0;
  width: 20%;
}

/* Sectioning */
/* Keep section divs block elements. */
.section {
  display: block;
}

.page .section:not(:first-child) {
  padding: 0.5em 0;
  border-top: 1px solid black;
  clear: both;
}

.section .label {
  width: 29%;
  font-size: 2em;
}

.section .content {
  /* Page size doesn't divide into %s evenly :( */
  width: 70%;
}

.subsection {
  padding-bottom: .5em;
}

.section .subsection:last-child {
  padding-bottom: 0;
}

/* Etc Components */

.title {
  font-size: 1.4em;
}

.subtitle {
  text-decoration: underline;
}

.note {
  font-style: italic;
}

/* Interests */
.interests .content {
  text-align: center;
  font-style: italic;
}
