body {
  font-family: Georgia;
}

.page {
  width: 8.5in;
  height: 11in;
  border: 1px solid lightgrey;
  margin: 0.5in;
}

/* header stuff */
.header a {
  display: block;
}

.name {
  font-size: 100px;
  display: inline;
  line-height: 0.8
}

.contact {
  float: right;
}

/* section stuff */
.section {
  border-top: 1px solid lightgrey;
  clear: both;
}

.section .label {
  width: 200px;
  float: left;
}

.section .content {
  margin-left: 300px;
}
